.misc {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.misc a {
  margin-inline: 1rem;
  text-decoration: none;
  color: #7c18ff;
}

.misc a:hover {
  color: #ffffff;
}

.misc button {
  position: fixed;
  bottom: 0px;
  right: 25px;
  height: 4rem;
  width: 3rem;
  margin-inline: 1rem;
  margin-bottom: 4rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border-style: solid;
  animation-name: start;
  animation-duration: 1s;
  background-color: #7c18ff;
}

.misc button:hover {
  background-color: #000000;
}

.misc button:hover > .arrow {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 2rem solid #ffffff;
}

@keyframes start {
  from {
    bottom: -150px;
  }
  to {
    bottom: 0px;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 2rem solid #000000;
  margin-bottom: 6px;
}

.misc p {
  width: 26%;
  margin: 10px;
  padding: 10px;
  background-color: #7c18ff1f;
}

@media only screen and (max-width: 900px) {
  .misc {
    flex-direction: column;
    width: 90%;
  }
  .misc p {
    width: 90%;
  }
}
